
body {
    background-image: url('https://thepigempire.github.io/technical/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#music-player {
    position: relative;
}

#song-title {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 48px;
    color: white
}

#controls {
    position: fixed;
    bottom: 0;
    right: 0;
}
#website-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
button {
    background-color: #ed488b;
    color: white; /* Set text color to white for better contrast */
    padding: 5px 10px; /* Add padding for better button appearance */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-right: 5px
}
